* {
    box-sizing: border-box;
    margin: 0 0;
}

header {
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-logo {
    height: 5vh;
}

.nav {
    display: flex;
    justify-content: space-between;
    width: 300px;
    list-style-type: none;
}

.nav-item-link:link {
    text-decoration: none;
    color: grey;
    font-weight: bold;
}

.nav-item-link:hover {
    color: black;
}

.hero {
    height: 35rem;
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("../images/banner-bg.jpg");
    background-size: cover;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero h1 {
    text-transform: uppercase;
    font-size: 3.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.hero h1 span{
    text-decoration: underline;
    font-weight: 900;
}

.hero p {
    font-size: 1.2rem;
    font-weight: 400;
    opacity: 0.6;
}
